*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 150px 50px;
}

.containerblock {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 680px;
}

.items {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 90%;
    margin: 10px;

}

.foot {
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
